.contact
    .background
    .container
        .contact__top
                h2.section__title Start Your Jurney
                .section__text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet.
                .contact__img
                    img(src='images/Big-Icon.png' alt='')
        .contact__bottom
            .container
                .contact__row
                    .contact__item
                        .contact__email
                            img(src='images/email-icon.png' alt='')
                        .contact__info
                            .contact__title Email
                            .contact__text
                                p free@psd.ia.ua
                                p free@psd.ia.ua
                    .contact__item
                        .contact__phone
                            img(src='images/Phone-icon.png' alt='')
                        .contact__info
                            .contact__title Phone
                            .contact__text
                                p +123 456 7890
                                p +123 456 7890
                    .contact__item
                        .contact__address
                            img(src='images/Adress-icon.png' alt='')
                        .contact__info
                            .contact__title Address
                            .contact__text
                                p 123, Main Road, New City,
                                p My Country 123456
                .contact__social
                    a.contact__link(href='#')
                        img(src="../../images/yfacebook-icon.png")
                    a.contact__link(href='#')
                        img(src="../../images/ygoogle+-icon.png")
                    a.contact__link(href='#')
                        img(src="../../images/yvk-com-icon.png")
                    a.contact__link(href='#')
                        img(src="../../images/yyoutube-icon.png")
                    a.contact__link(href='#')
                        img(src="../../images/yin-icon.png")
                    a.contact__link(href='#')
                        img(src="../../images/ydigg-icon.png")
                    a.contact__link(href='#')
                        img(src="../../images/yz-icon.png")