header.header
.background__picture
    .container
        .header__logo
            .logo
                img.logo__picture(src="images/logo-icon.png" alt="picture")
            .header__content
                nav.nav
                    a.nav__link(href='#') HOME
                    a.nav__link(href='#') DESTINATIONS
                    a.nav__link(href='#') MOTORCYCLES
                    a.nav__link(href='#') RENTALS
                    a.nav__link(href='#') BLOG
                    a.nav__link(href='#') CONTACT
                .header__icon
                    a.link__icon(href="facebook.com")
                        img(src="images/facebook-icon.png")
                    a.link__icon(href="google.com")
                        img(src="images/google+-icon.png")
                    a.link__icon(href="vk.com")
                        img(src="images/vk-com-icon.png")
                    a.link__icon(href="youtube.com")
                        img(src="images/youtube-icon.png")
