.packs
    .container
        .picture__block
            .picture__one
                .picture1
                .text__title Motorcycle Expeditions
                .text__info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.package__btn(href="#") BOOK NOW
            .picture__two
                .picture2
                .text__title Mountains Motorcycle Tours
                .text__info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.package__btn(href="#") BOOK NOW
            .picture__three
                .picture3
                .text__title Motorcycle Adventure Tours
                .text__info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.package__btn(href="#") BOOK NOW
