.travel
    .container
        h2.section__title travel blog
        .section__text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet.
        .travel__inner
                .travel__header
                    .travel__asia
                        img(src='images/Travelblogbike1.png' alt='')

                        .travel__title 10 reasons why USA should be on your bucket list.
                        .travel__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    .travel__usa
                        img(src='images/Travelblogbike2.png' alt='')

                        .travel__title 10 reasons why USA should be on your bucket list.
                        .travel__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    .travel__brazil
                        img(src='images/Travelblogbike3.png' alt='')

                        .travel__title 10 reasons why USA should be on your bucket list.
                        .travel__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.







