@font-face {
  font-family: "bebas";
  src: url("/source/fonts/Bebas.woff") format("woff"),
  url("/source/fonts/Bebas.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue Bold";
  src: url("/source/fonts/Bebas-Neue.woff") format("woff"),
  url("/source/fonts/Bebas-Neue.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("/source/fonts/Bebas-Neue-Book.woff") format("woff"),
  url("/source/fonts/Bebas-Neue-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BigNoodleTitling";
  src: url("/source/fonts/Big-Noodle-Titling.woff") format("woff"),
  url("/source/fonts/Big-Noodle-Titling.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Billy Ohio";
  src: url("/source/fonts/Billy-Ohio.woff") format("woff"),
  url("/source/fonts/Billy-Ohio.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica LT Std Cond Blk";
  src: url("/source/fonts/HelveticaLTStd-BlkCond.woff") format("woff"),
  url("/source/fonts/HelveticaLTStd-BlkCond.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica LT Std";
  src: url("/source/fonts/HelveticaLTStd-Bold.woff") format("woff"),
  url("/source/fonts/HelveticaLTStd-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Medium";
  src: url("/source/fonts/lato-medium.woff") format("woff"),
  url("/source/fonts/lato-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Black";
  src: url("/source/fonts/Lato-Black.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/source/fonts/Montserrat-Regular.woff") format("woff"),
  url("/source/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

